	<%= simple_form_for(UserSiteSession.new, :url=> '/generate') do |f| %>
	<div class="card">
  <h2 class="card-header bg-primary">Generate Report</h2>
  <div class="card-body">


		<div class="row">
			<div class="col-lg-4">
			<%= f.label :site_id , label: 'Venue <span class="required">*</span>'.html_safe %>
			</div>
			<div class="col-lg-8">
		    <%= f.input :site_id, collection: Site.all, prompt: "Select Venue", label: false %>
			</div>
		</div>

		<div class="row">
			<div class="col-lg-4">
			<%= f.label :weather %>
			</div>
			<div class="col-lg-8">
				<%= f.input :weather , prompt: 'All Weather Conditions' , label: false %>
			</div>
		</div>

		<div class="row">
			<div class="col-lg-4">
				<label class="control-label" for='date_from'>Date From (YYYY-MM-DD) <span class='required'>*</span></label>
			</div>
			<div class="col-lg-8">
				<input type='text' class='form-control' name='user_site_session[date_from]' id='date_from' />
			</div>
		</div>

		<div class="row">
			<div class="col-lg-4">
			<label class="control-label" for='date_to'>Date To (YYYY-MM-DD)</label>
			</div>
			<div class="col-lg-8">
				<input type='text' class='form-control' name='user_site_session[date_to]' id='date_to' />
			</div>
		</div>

		<div class="row">
			<div class="col-lg-4">
				<label class='control-label' for='lap_time_from'>Include Lap Times Between Range</label>
			</div>
			<div class="col-lg-8">
					<input type='text' class='form-control' name='user_site_session[lap_time_from]' id='lap_time_from' />
					<input type='text' class='form-control' name='user_site_session[lap_time_to]' id='lap_time_to' />
			</div>
		</div>

		<input type="submit" name="sub" class="btn btn-default" value="Generate" />


</div></div>
<% end %>