
<%= simple_form_for(@user_site_session) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>


  <div class="form-inputs">
    <%= f.input :user_id, collection: User.all, prompt: "Select User", selected: @user_site_session.user_id %>
  </div>

  <div class="form-inputs">
    <%= f.input :site_id, collection: Site.all, prompt: "Select Venue", label: 'Venue' %>
  </div>

  <div class="form-inputs">
    <%= f.input :session_date %>
    <%= f.input :weather %>
    <%= f.input :lap_time, label: 'Your Laptime (in seconds)' %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
