<p id="notice"><%= notice %></p>

<p>
  <strong>Lap Time:</strong>
  <%= @user_site_session.lap_time %>
</p>

<p>
  <strong>Weather:</strong>
  <%= @user_site_session.weather.humanize %>
</p>

<p>
  <strong>Session date:</strong>
  <%= @user_site_session.session_date %>
</p>

<%= link_to 'Edit', edit_user_site_session_path(@user_site_session) %> |
<%= link_to 'Back', user_site_sessions_path %>
