<!DOCTYPE html>
<html lang='en'>
<head>
  <title>Go Karting App</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <%= javascript_include_tag :application %>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css">
</head>
<body>
<div class="container">
	<%= render 'layouts/topmenu' %>
	<div class="row">
		<div class="col-lg-1"></div>
		<div class="col-lg-10 text-center">

			<%= yield %>
		</div>
		<div class="col-lg-1"></div>
	</div>
</div>
<%= render 'layouts/foot' %>
</body>
</html>
