<!DOCTYPE html>
<html>
<head>
  <title>Go Karting App</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link href="https://getbootstrap.com/docs/3.3/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<div class="container">
	<%= render 'layouts/topmenu' %>
	<div class="row">
		<div class="col-lg-1"></div>
		<div class="col-lg-10 text-center">

			<%= yield %>
		</div>
		<div class="col-lg-1"></div>
	</div>
</div>

</body>
</html>
